{% extends 'base.html' %}
    {% block content %}
        <div class="flex flex-col h-full w-full px-8 pb-8 justify-between">  
            <!-- Main Section--> 
            <div class="flex flex-col-2 h-full w-full ">
                <div class="flex flex-col flex-1 pt-30 ">
                    <h2 class="text-black/60 font-medium">Personal Recipe Storage</h2>
                    <h1 class="font-bold text-5xl py-4">
                        Store, Discover,<br> 
                        and Randomly select <br>
                        your favorite recipes
                    </h1>
                    <p class="font-medium py-4 text-black/60">
                        Tired of bookmarking exciting tiktok recipes and <br>
                        forgetting they exist a week later? Register for free <br>
                        and create a roladex of your favorite meals.
                    </p>
                </div>
                <div class="flex-1 relative">
                    <!-- Bottom card -->
                    <div class="absolute left-40 top-8 w-3/4 h-3/4 rounded-2xl  scale-60 z-0">
                        <div class="relative h-full w-full group">
                            <img class="object-cover overflow-hidden rounded-4xl shadow-2xl" src="/static/assets/img/burger_salad.webp" alt="burger salad">
                            <div class="absolute inset-0 bg-transparent group-hover:bg-gradient-to-b group-hover:from-black/50 group-hover:to-transparent rounded-4xl transition-all duration-500"></div>
                        </div>
                    </div>
                    <!-- Middle card -->
                    <div class="absolute top-18 left-20  w-3/4 h-3/4  rounded-2xl scale-90 z-10">
                        <div class="relative w-full h-full group">
                            <img class="object-cover overflow-hidden h-full w-full rounded-4xl shadow-2xl" src="/static/assets/img/vodka_pasta.webp" alt="vodka gnocchi">
                            <div class="absolute inset-0 bg-transparent group-hover:bg-gradient-to-b group-hover:from-black/50 group-hover:to-transparent rounded-4xl transition-all duration-500"></div>
                        </div>
                    </div>
                    <!-- Top card -->
                    <div class="absolute top-18 left-0 w-3/4 h-3/4 rounded-xl  z-20">
                        <div class="relative w-full h-full group">
                            <img class="object-cover overflow-hidden h-full w-full rounded-4xl shadow-2xl" src="/static/assets/img/mory_potato.jpg" alt="Baked sweet potato with ground beef">
                            <div class="absolute inset-0 bg-transparent group-hover:bg-gradient-to-b group-hover:from-black/50 group-hover:to-transparent rounded-4xl transition-all duration-500"></div>
                            <div class="absolute inset-0 flex flex-col justify-top p-6">
                                <h2 class="text-white font-bold drop-shadow-2xl">Loaded Sweet Potato <br>
                                    w/ Spiced Beef and Hot <br>
                                    Honey 
                                </h2>
                                <div class="flex flex-col h-full justify-end">
                                    <hr class="w-full border-t-2 border-white rounded mt-8 mb-2">
                                    <div class="flex justify-beginning">
                                        <p class="text-white pr-14 drop-shadow-xl">
                                            <span class="font-bold">Author Rating</span><br> 4.5/10 </p>
                                        <p class="text-white pl-8 drop-shadow-4xl">
                                            <span class="font-bold">Chef</span><br>Mory Byron
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
                </div>
                <div class="flex justify-beginning mt-4">
                <div class="mr-8 space-y-2">
                    <hr class=" w-full border-t-2 border-black/20 rounded-4xl">
                    <h2 class="font-semibold">↺ Dinner Selector</h2>
                    <p class="text-sm text-black/60"> 
                    Randomize dinner selection for<br> the
                    day/week.
                    </p>
                    <a href="#" class="text-sm font-semibold underline underline-offset-4 hover:text-black/60">Demo →</a>
                </div>
                <div class="mx-28 space-y-2">
                    <hr class=" w-full border-t-2 border-black/20 rounded-4xl ">
                    <h2 class="font-semibold ">ᯤ Browse my Catalog</h2>
                    <p class="text-black/60 text-sm"> 
                    Check out the ever-growing collection<br>
                    of recipes I try for inspiration. 
                    </p>
                    <a href="#" class="text-sm font-semibold underline underline-offset-4 hover:text-black/60">Demo →</a>
                </div>
                <div class="ml-18 space-y-2">
                    <hr class=" w-full border-t-2 border-black/20 rounded-4xl ">
                    <h2 class="font-semibold  mr-16 ">☰ Sort</h2>
                    <p class="text-black/60 text-sm"> 
                    Sort and search your recipes by calorie,<br>
                    cooking time, and protein type.
                    </p>
                    <a href="#" class="text-sm font-semibold underline underline-offset-4 hover:text-black/60">Demo →</a>
                </div>
                </div>
        </div>
        <!-- Modal Register overlay-->
        <div id="register-overlay" class="fixed inset-0 bg-black/50 backdrop:-blur-sm flex items-center justify-center z-50" style="display:none;">
            <div class="bg-white rounded-2xl shadow-2xl p-4 w-full max-w-md min-h-[300px] max-h-[80vh] flex flex-col ">
                <!--Add Jinja logic here to control which text appears-->
                <div class="relative flex h-16">
                    <img src="/static/assets/img/mini_logo.svg" class="h-16 absolute left-1/2 -translate-x-1/2">
                    <div>
                        <a href="#" class="absolute right-1  text-black/60 hover:shadow-2xl text-3xl">&times</a>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <h1 class="text-lg font-medium mb-4">Welcome to DevRecipe!</h1>
                    <h2 class="text-black/60 text-center mb-6">
                        Register to create an accountand start storing<br>
                        your favorite recipes today!
                    </h2>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div id="flash-messages">
                                {% for category, message in messages %}
                                    <div class="
                                        flash 
                                        {% if category == 'success' %} bg-green-200 text-green-800 {% endif %}
                                        {% if category == 'error' %} bg-red-200 text-red-800 {% endif %}
                                    ">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <form method="POST" action="{{ url_for('register') }}">
                        {{ register_form.hidden_tag() }}
                            <div class="flex flex-col space-y-8  w-90">
                            {{ register_form.email.label(class="mb-1 text-sm font-medium text-gray-700") }}
                            {{ register_form.email(
                                class="px-3 py-2  w-full bg-black/3 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-300/40"
                                placeholder="you@example.com"
                            ) }}
                            {% if register_form.email.errors %}
                                <p class="text-red-500 text-xs mt-1">
                                    {{ register_form.email.errors[0] }}
                                </p>
                            {% endif %}
                        </div>
                        <!-- Password field -->
                        <div class="flex flex-col">
                            {{ register_form.password.label(class="mb-1 text-sm font-medium text-gray-700") }}
                            {{ register_form.password(
                                class="px-3 py-2 bg-black/3 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-300/40"
                                placeholder="••••••••"
                            )}}
                            {% if register_form.password.errors %}
                                <p class="text-red-500 text-xs mt-1">
                                    {{ register_form.password.errors[0] }}
                                </p>
                            {% endif %}
                        </div>
                            <!-- Confirm Password field -->
                        <div class="flex flex-col">
                            {{ register_form.confirm_password.label(class="mb-1 text-sm font-medium text-gray-700") }}
                            {{ register_form.confirm_password(
                                class="px-3 py-2 bg-black/3 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-300/40"
                                placeholder="••••••••"
                            )}}
                            {% if register_form.confirm_password.errors %}
                                <p class="text-red-500 text-xs mt-1">
                                    {{ register_form.password.errors[0] }}
                                </p>
                            {% endif %}
                        </div>
                        <!-- Submit button -->
                        <button 
                            type="submit" 
                            class="w-full bg-black text-white py-2 rounded-4xl hover:bg-orange-400/60 transition mt-14"
                        >
                            Register
                        </button>
                    </form>
                    <div class="flex justify-center items-center mt-8 mb-4">
                        <p class="text-black/60 text-sm">
                            Already have an account?
                        </p>
                        <a href="#" class="show-login font-semibold text-sm pl-1 hover:text-orange-400/60">Log in</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Login overlay-->
        <div id="login-overlay" class="fixed inset-0 bg-black/50 backdrop:-blur-sm flex items-center justify-center z-50" style="display:none;">
            <div class="bg-white rounded-2xl shadow-2xl p-4 w-full max-w-md min-h-[300px] max-h-[80vh] flex flex-col ">
                <!--Add Jinja logic here to control which text appears-->
                <div class="relative flex h-16">
                    <img src="/static/assets/img/mini_logo.svg" class="h-16 absolute left-1/2 -translate-x-1/2">
                    <div>
                        <a href="#" class="absolute right-1  text-black/60 hover:shadow-2xl text-3xl">&times</a>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <h1 class="text-lg font-medium mb-4">Welcome to DevRecipe!</h1>
                    <h2 class="text-black/60 text-center mb-6">
                        Your recipes await inside!
                    </h2>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div id="flash-messages">
                                {% for category, message in messages %}
                                    <div class="
                                        flash 
                                        {% if category == 'success' %} bg-green-200 text-green-800 {% endif %}
                                        {% if category == 'error' %} bg-red-200 text-red-800 {% endif %}
                                    ">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <form method="POST" action="{{ url_for('login') }}">
                        {{ login_form.hidden_tag() }}
                            <div class="flex flex-col space-y-8  w-90">
                            {{ login_form.email.label(class="mb-1 text-sm font-medium text-gray-700")}}
                            {{ login_form.email(
                                class="px-3 py-2  w-full bg-black/3 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-300/40"
                                placeholder="you@example.com"
                            )}}
                            {% if login_form.email.errors %}
                                <p class="text-red-500 text-xs mt-1">
                                    {{ login_form.email.error[0] }}
                                </p>
                            {% endif %}
                        </div>
                        <!-- Password field -->
                        <div class="flex flex-col">
                            {{ login_form.password.label(class="mb-1 text-sm font-medium text-gray-700") }}
                            {{ login_form.password(
                                class="px-3 py-2 bg-black/3 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-300/40"
                                placeholder="••••••••"
                            )}}
                            {% if login_form.password.errors %}
                                <p class="text-red-500 text-xs mt-1">
                                    {{ login_form.password.error[0] }}
                                </p>
                            {% endif %}
                        </div>
                        <!-- Submit button -->
                        <button 
                            type="submit" 
                            class="w-full bg-black text-white py-2 rounded-4xl hover:bg-orange-400/60 transition mt-14"
                        >
                            Log In
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endblock %}  
